<div class="i-want is-hover">
  <button class="btn btn-warning" id="btn-list-lease" type="button">
    <i class="fa fa-list-ul"></i>
    <%= t ".iwant" %>
  </button>
  <ul class="nav list-lease-box cfi-iwant">
    <% Category.all.each do |c| %>
    <li class="list-type-button types-1" data-id="1">
      <%= link_to guest_category_path(c),class:"cfi-open-child cfi-type-a" do %>
        <%= image_tag(c.icon, class:"sc-w20") %>
        <%= c.name %>
      <% end %>
    </li>
    <% end %>
  </ul>
</div>
