$black: #222;
$blue_light: #4387F6;
$blue_lighter: #4285F6;
$white: #fff;
$red_light: #F26578;
$orange_light: #F4A338;
$orange_lighter: #F4A440;
$orange_hov: #ec971f;
$orange_modal: #FF8102;
$gray_light: #535353;
$white_somke: #ccc;
$white_somker: #aaa;
$alert-red-back: #f2dede;
$alert-red-bor: #eed3d7;
$alert-red-text: #b94a48;
$alert-green-back: #dff0d8;
$alert-green-bor: #d6e9c6;
$alert-green-text: #468847;
$white_form: #dfdfdf;
$btn-a: #fefefe;
$text_login: #a9a9a9;
$back_edit:  rgba(0,0,0,.5);
$back_primary: #4286F5;
$bor_primary: #3c81f3;
$lease_box: #d58512;
$lease_box_a: #424242;
$sb-user-col: #EDEDED;
$personal_icon: #537EBF;
$white_li: #ddd;
$gray_smoke: #737373;
$sub_orange: #f0ad4e;
$sub_li: #eee;
$right_detail_blu: #4385F3;
$price_color: #EC145B;
$border_zoom_color: rgb(136, 136, 136);
$shadow_search: rgba(221, 221, 221, 0.6);
$search_form: #d6d6d6;
$submit_search: #5592F6;
$corelative_color: #F6F6F6;
$child_1: #17B4BB;
$child_2: #FF649E;
$child_3: #268BB9;
$child_5: #88C54C;
