$black: #222;
$blue_light: #4387F6;
$blue_lighter: #4285F6;
$white: #fff;
$red_light: #F26578;
$orange_light: #F4A338;
$orange_lighter: #F4A440;
$orange_hov: #ec971f;
$orange_modal: #FF8102;
$gray_light: #535353;
$white_somke: #ccc;
$white_somker: #aaa;
