@import "bootstrap-sprockets";
@import "bootstrap";
@import "_color.scss";

* {
  padding: 0;
  margin: 0;
  font-family: arial,sans-serif;
  outline: 0 !important;
}

body {
  color: $black;
  font-size: 13px;
}
//FLASH

.messages-field {
  padding-top: 15px;
  visibility: visible;
  position: absolute;
  z-index: 999999;
}

.alert-error {
  background-color: $alert-red-back;
  border-color: $alert-red-bor;
  color: $alert-red-text;
  text-align: left;
}

.alert-alert {
  background-color: $alert-red-back;
  border-color: $alert-red-bor;
  color: $alert-red-text;
  text-align: left;
}

.alert-success {
  background-color: $alert-green-back;
  border-color: $alert-green-bor;
  color: $alert-green-text;
  text-align: left;
}

.alert-notice {
  background-color: $alert-green-back;
  border-color: $alert-green-bor;
  color: $alert-green-text;
  text-align: left;
}

.messages-field > .alert > ul > li {
  list-style: none;
}
// HEADER
//top-header

header .top {
  background: $blue_light;
}

header .top .container > ul > li {
  font-weight: 300;
}

header .navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 18px;
}

header .navbar-nav > li > a:active,
header .navbar-nav > li > a:focus,
header .navbar-nav > li > a:hover {
  background-color: transparent;
}

header .navbar-nav > li,
header .navbar-nav > li > a {
  color: $white;
}

.header-favorite .icon i {
  position: static;
  position: relative;
  color: $red_light;
  cursor: pointer;
}

.header-favorite .icon i span {
  background: $white;
  padding: 2px;
  border-radius: 2px;
  font-size: 13px;
  position: absolute;
  top: -7px;
  right: -9px;
}

.a-tag {
  cursor: pointer;
}

header .top .fa {
  font-size: 20px;
}

.login > li {
  display: inline-block;
}

.a-avatar {
  position: relative;
  padding-top: 6px;
}

.img-avatar {
  border-radius: 50%;
  width: 30px;
  padding: 0 !important;
  margin: 0 !important;
}

.count-notify {
  background: $white;
  color: $red_light;
  padding-right: 2px;
  padding-left: 2px;
  border-radius: 2px;
  font-size: 13px;
  position: absolute;
  top: 3px;
  right: 2px;
}

.top .naptien {
  text-align: center;
  padding-top: 3px;
}

.top .naptien a {
  color: $white;
  padding: 2px 20px;
  background-color: $orange_light;
  border-radius: 10px;
  max-width: 200px;
  display: inline-block;
}

.top .naptien a:hover {
  background-color: $orange_hov;
  color: $white;
}

.top .naptien span {
  margin-left: 7px;
  font-weight: bold;
}

.modal {
  text-align: center;
}

.wishlist-modal {
  border: none;
}

.wishlist-modal .modal-lg {
  width: 1120px;
  max-width: 100%;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-content {
  border-radius: 0;
  border: 1px solid $orange_modal;
}

.wishlist-header {
  background: $orange_light;
  color: $white;
}

.modal-header {
  padding: 12px 15px;
}

.modal-footer,
.modal-header {
  border: none;
}

.modal-header .pull-right {
  padding: 3px 6px 5px;
  margin-top: -3px;
  border-radius: 5px;
  margin-right: -4px;
}

.modal-header i.fa-close {
  color: $white !important;
}

.modal-header .pull-right i {
  font-size: 17px;
}

.wishlist-modal .modal-title {
  text-align: left;
}

.wishlist-modal .modal-lg table {
  font-size: 14px;
}

.mar-bt-0 {
  margin-bottom: 0 !important;
}

.modal-table .table thead tr th {
  border-bottom: none;
}

.modal-table table th {
  text-transform: uppercase;
  text-align: center;
}

.wishlist-modal .col-title {
  min-width: 140px;
}

.wishlist-modal .col-price {
  min-width: 100px;
}

.wishlist-modal .col-dat {
  min-width: 100px;
}

.wishlist-modal .col-address {
  min-width: 200px;
}

#wishlist-modal * {
  font-weight: normal;
}

.modal-table table tr td {
  vertical-align: middle;
  border-top: none;
}

#wishlist-modal a {
  background: none !important;
}

.wishlist-modal .col-title {
  min-width: 140px;
}

.wishlist-modal .col-price {
  min-width: 100px;
}

.wishlist-modal .col-dat {
  min-width: 100px;
}

.wishlist-modal .col-address {
  min-width: 200px;
}

i.remove-wishlist {
  color: $orange_light;
  cursor: pointer;
}

.modal-footer {
  text-align: center;
  padding-bottom: 25px;
}

.modal-footer .btn {
  min-width: 120px;
}
//menu

.menu .navbar {
  border-right: none;
  border-left: none;
  border-radius: 0;
}

.menu nav {
  padding: 15px 0;
  margin-bottom: 0;
}

.menu .navbar .container {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}

.menu .for-mobile {
  display: none;
}

.menu .search-container {
  float: none;
  padding-left: 200px;
}

.menu .search-child {
  display: inline-table;
  vertical-align: middle;
  width: 100%;
}

.menu ul.nav {
  margin: 9px 0 10px 30px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: $blue_light;
  background-color: transparent;
  border-bottom: 2px solid $blue_light;
}

.main-menu li a {
  text-transform: uppercase;
  font-size: 15px;
  padding: 10px 17px;
}

.search-child .post-btn {
  text-align: right;
  width: 1%;
}

.search-child .post-btn,
.search-child .search-menu {
  display: table-cell;
  padding-top: 0;
  vertical-align: middle;
}

.post-mobile {
  display: block;
  position: relative;
}

.pen {
  background-color: $orange_light;
  padding: 6px;
  border-radius: 8px;
}

.pen a,
.pen span {
  color: $white !important;
  border: 1px solid $white;
  font-weight: bold;
  display: block;
}

.pen span {
  background-repeat: no-repeat;
  background-position: 8px;
  padding: 3px 9px;
  border-radius: 8px;
  font-size: 18px;
  line-height: 20px;
}

.pen span .pen-icon {
  background-image: url("pen.png");
  width: 28px;
  height: 28px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
  background-size: 100%;
  margin-left: -3px;
}

.post-mobile .dropdown-menu {
  border-color: $orange_light;
  border-radius: 0;
  margin: 0;
  right: 0;
  left: inherit;
  font-size: 13px;
}

.dropdown-menu {
  cursor: pointer;
}

.post-mobile .dropdown-menu i {
  color: $orange_light;
}
//CONTENT

#content {
  margin: 0;
  min-height: 400px;
  padding-top: 25px;
}
//FOOTER

footer {
  background-color: $gray_light;
  color: $white_somke;
}

.top-ft {
  border-top: 5px solid $blue_lighter;
  border-bottom: 1px solid$white_somke;
}

.mid-ft {
  border-bottom: 1px solid$white_somke;
}

.bot-ft {
  padding: 10px 0 9px;
  color: $white_somke;
}

.top-ft p {
  background: url("hand-shake.png") left no-repeat;
  background-size: 50px 50px;
  font-family: TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif;
  color: $orange_lighter;
  padding: 18px 0 18px 61px;
  font-size: 25px;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 0;
}

.mid-ft .news-feed {
  width: 23%;
  padding-right: 35px;
}

footer .news-feed {
  text-align: center;
}

.mid-ft h3 {
  margin-bottom: 3px;
}

.mid-ft h3 span {
  font-size: 14px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: $orange_lighter;
}

footer .news-feed li {
  position: relative;
}

.mid-ft ul li {
  list-style: none;
  padding: 4px 4px 4px 0;
}

footer .news-feed .has-feedback {
  max-width: 300px;
  margin: 0 auto;
}

footer .news-feed .has-feedback form {
  text-align: left;
}

footer .news-feed .form-control {
  border-radius: 3px;
  height: 30px;
  padding-right: 30px;
}

footer .news-feed li .form-control-feedback {
  color: $white_somker;
  height: 30px;
  line-height: 30px;
  width: 30px;
}

.mid-ft .col-about {
  width: 17%;
}

.mid-ft ul li a {
  color: $white_somke;
}

.mid-ft .col-hotro {
  width: 25%;
}

.pad-l-0 {
  padding-left: 0 !important;
}

.pad-l-0 {
  padding-left: 0 !important;
}

.mid-ft .col-chinhsach {
  width: 21%;
}

.mid-ft .group-social2 {
  width: 13%;
}

footer .group-social2 {
  margin-bottom: 0;
  vertical-align: middle;
}

footer .group-social2 li {
  list-style: none;
  display: block;
  margin-right: 5px;
}

.bot-ft {
  padding: 10px 0 9px;
  color: $white_somke;
}

.bot-ft .left {
  padding-top: 10px;
  width: 40%;
}

footer .logo {
  background-image: url("logo-2.png");
  background-repeat: no-repeat;
  background-size: 131px auto;
  width: 131px;
  height: 38px;
  float: left;
  margin-right: 12px;
}

.bot-ft p {
  color: $white_somke;
  margin-top: 12px;
}

.bot-ft .right {
  float: right;
  width: 60%;
}

.pad-l-0 {
  padding-left: 0 !important;
}
//LOGIN PAGES

.auth-page {
  margin-bottom: 50px;
}

.auth-page .form-horizontal {
  max-width: 430px;
  margin: 0 auto;
}

.mar-bt-20 {
  margin-bottom: 20px !important;
}

.mar-t-0 {
  margin-top: 0 !important;
}

.form-control {
  border: 1px solid $white_form;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.auth-page a {
  color: $blue_lighter;
}

.auth-page a.btn {
  color: $btn-a;
}

.social-login .div-line {
  text-align: center;
  margin-top: -23px;
  margin-bottom: 17px;
}

.social-login .txt-line {
  background-color: $white;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  color: $text_login;
}

.btn-group i {
  margin-right: 5px;
}

.have-account {
  margin-bottom: 20px;
  padding-top: 5px;
}
//ACCOUNT PAGE

#product.container {
  margin-right: auto;
  margin-left: auto;
}

#product {
  margin: 10px 0;
  min-height: 600px;
}

.i-want {
  width: 100%;
  position: relative;
}

.opened .list-lease-box {
  display: block;
}

.sidebar .btn-warning {
  font-size: 20px;
  padding: 6px 20px;
  width: 100%;
}

.sidebar .btn-warning i {
  padding-right: 15px;
  font-size: 22px;
}

.list-lease-box {
  border: 1px solid $lease_box;
  display: none;
  border-radius: 0 0 5px 5px;
  position: absolute;
  z-index: 100;
  background: $white;
  width: 100%;
  margin-top: -1px;
}

.i-want .list-lease-box > li > a {
  border-bottom: none;
}

.list-lease-box li a {
  color: $lease_box_a;
}

.sidebar .nav > li > a > img {
  margin-right: 5px;
}

.i-want .list-type-button .down-arrow {
  position: absolute;
  right: 0;
  top: 0;
  display: none;
  padding: 11px 12px 12px;
}

.i-want .list-type-button .down-arrow .glyphicon {
  font-size: 13px;
  color: $lease_box_a;
}

.sb-user {
  margin-bottom: 1px;
  margin-top: 10px;
  text-align: center;
  background: $sb-user-col;
}

.sb-user h5 {
  padding: 10px 0;
  background: $blue_lighter;
  color: $white;
}

.img-avatar.w70 {
  width: 70px;
}

.img-avatar {
  border-radius: 50%;
  width: 30px;
  padding: 0 !important;
  margin: 0 !important;
}

.sb-user p {
  margin: 10px 0;
}

.sb-user a {
  color: $white;
  padding: 2px 20px 2px 40px;
  background: url("icon1.png") no-repeat 20px;
  background-color: $orange_light;
  border-radius: 10px;
}

.sb-user h6 {
  padding: 10px 0;
  background-color: $blue_lighter;
  color: $white;
  text-align: left;
  font-size: 15px;
  margin-bottom: 0;
}

.sb-user h6 img {
  padding: 0 20px 2px 30px;
}

.personal h6 {
  padding: 10px 0;
  background-color: $blue_lighter;
  color: $white;
  text-align: left;
  font-size: 15px;
  margin: 0;
}

.personal h6 img {
  padding: 0 18px 2px 28px;
}

.personal ul {
  background: $sb-user-col;
  padding: 10px 0;
  margin: 0;
}

.personal ul li {
  list-style: none;
  background-position: 31px center;
  background-repeat: no-repeat;
  margin-bottom: 3px;
}

.ps > li.active-acc a,
.ps > li:hover a {
  background-color: $orange_light;
  text-decoration: none;
  color: $white;
}

.ps > li.active-acc a .glyphicon,
.ps > li:hover a .glyphicon {
  color: $white;
}

.personal ul li a .glyphicon {
  position: absolute;
  left: 31px;
  top: 50%;
  margin-top: -7px;
  color: $personal_icon;
  font-size: 12px;
}

.personal ul li a {
  color: $lease_box_a;
  padding: 5px;
  display: block;
  padding: 6px 5px 5px 60px;
  position: relative;
}
// edit profile

.cate-crumb {
  margin-bottom: 12px;
}

.cate-crumb .tit-pro {
  padding-bottom: 0;
  margin-bottom: 0;
}

.tit-pro {
  padding: 10px 0 0;
  margin-bottom: 0;
}

.tit-pro li.btn-home {
  padding-left: 0;
  padding-right: 4px;
  margin-right: 4px;
}

.tit-pro li {
  list-style: none;
  display: inline-block;
  margin-right: 12px;
  vertical-align: middle;
  margin-bottom: 5px;
}

.btn-home {
  position: relative;
}

.tit-pro li.arrow {
  padding-left: 0;
  padding-right: 0;
  margin-right: 9px;
}

.tit-pro li .fa-angle-right {
  font-size: 21px;
}

.accout-page .form-group > .control-label {
  padding-left: 0;
  padding-right: 10px;
}

.accout-page .form-group > div {
  padding-right: 0;
  padding-left: 10px;
}

input[type=text] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-control {
  border: 1px solid $white_form;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.edit-img {
  position: relative;
  display: inline-block;
}

.img-avatar.square {
  border-radius: 0;
}

.edit-icon {
  position: absolute;
  background-color: $back_edit;
  text-align: center;
  display: block;
  width: 100%;
  height: 24px;
  top: 50%;
  margin-top: -12px;
  cursor: pointer;
  line-height: 24px;
  color: $white;
  display: none;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-primary {
  background-color: $back_primary;
  border-color: $bor_primary;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
// CREATE-LEASE

.btn-group-lg > .btn,
.btn-lg {
  border: none !important;
}

.social {
  padding: 6px 0;
}

.sc-w20 {
  width: 20px;
}

.cate-crumb {
  margin-bottom: 12px;
}

.cate-crumb .tit-pro {
  padding-bottom: 0;
  margin-bottom: 0;
  padding: 10px 0 0;
}

.tit-pro li.btn-home {
  padding-left: 0;
  padding-right: 4px;
  margin-right: 4px;
}

.tit-pro li {
  list-style: none;
  display: inline-block;
  margin-right: 12px;
  vertical-align: middle;
  margin-bottom: 5px;
}

.tit-pro li.arrow {
  padding-left: 0;
  padding-right: 0;
  margin-right: 9px;
}

.tit-pro li .fa-angle-right {
  font-size: 21px;
}

.lease-upload.ul7 {
  width: auto;
  margin-top: 0;
  margin-right: -1%;
  margin-left: -1%;
}

.lease-error {
  color: red;
}

.lease-upload.ul7 li {
  padding: 0;
  list-style: none;
  width: 48%;
  text-align: center;
  float: left;
  border: 1px solid $white_li;
  margin: 1%;
}

.lease-upload li {
  position: relative;
}

.ul7 li {
  height: 125px;
}

.lease-upload li .btn-file {
  padding: 10px 0 0;
  display: block;
  width: 100%;
  height: 100%;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.lease-upload li img {
  max-width: 100%;
  max-height: 60px;
}

.lease-upload li .txt-desc {
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
  margin: 0;
  padding: 7px 0;
  height: 35px;
}

.lease-upload li .remove-icon {
  display: none;
  position: absolute;
  right: 2px;
  top: 1px;
  font-size: 14px;
  color: $blue_lighter;
  padding: 3px;
  border-radius: 3px;
}

.lease-upload.ul7 p.help-block {
  color: $gray_smoke;
}

.post-lease-page .pro-info {
  padding-left: 0;
  padding-right: 0;
}

.tit-border {
  margin: 5px 0 20px;
  position: relative;
}

.tit-border span {
  text-transform: uppercase;
  font-size: 18px;
  border-bottom: 3px solid $blue_lighter;
}

.tit-border p {
  height: 3px;
  width: 55px;
  background: $orange_light;
  position: absolute;
  margin: 0;
  bottom: -3px;
}

.pro-info .form-group label.control-label {
  font-weight: bold;
}

.pro-info .form-group label {
  text-align: right;
  padding-right: 3px;
}

.pro-info .form-group label span {
  color: red;
}

.pro-info .form-group label {
  text-align: right;
  padding-right: 3px;
}

.pro-info .form-group select {
  height: 34px;
  border: 1px solid $white_li;
}

.pad-r-0 {
  padding-right: 0 !important;
}

.trade h4 {
  text-transform: uppercase;
  text-align: center;
  color: $white;
  font-size: 14px;
  margin: 0;
  padding: 10px;
  background: $blue_lighter;
  border: 1px solid$blue_lighter;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  list-style: none;
}

.trade ul {
  padding: 5px 0 5px 23px;
  border: 1px solid $white_li;
  border-top: none;
  margin: 0;
}

.trade li {
  padding: 3px 0;
  list-style-image: url("list-style.png");
}

.group-number {
  margin-bottom: 10px;
}

#price-box {
  padding-left: 15px;
}

.input-group-btn .dropdown-toggle {
  padding-left: 9px;
  padding-right: 9px;
}

.form-money,
.form-paper {
  text-align: left;
  position: relative;
}

.form-money input[type='checkbox'],
.form-paper input[type='checkbox'],
.form-sale input[type='checkbox'] {
  width: 34px;
  height: 34px;
  position: absolute;
  margin: 0;
  border-radius: 0;
  border-color: $white_li;
  background: $white;
}

.pro-info .form-group input {
  border-radius: 0;
  border-color: $white_li;
  padding-left: 9px;
  padding-right: 9px;
}

.form-money input[type='text'],
.form-money input[type='number'],
.form-paper input[type='text'],
.form-sale input[type='text'] {
  border-radius: 0;
  border: 1px solid $white_li;
  padding: 6px 12px;
  height: 34px;
  width: 63%;
}

.input-money {
  margin-right: 15px;
  width: 70px !important;
  text-align: center;
  margin-left: 50px !important;
}

.form-money,
.form-paper {
  text-align: left;
  position: relative;
}

.mar-bt-5 {
  margin-bottom: 5px !important;
}

.pro-info .form-group textarea {
  width: 100%;
  resize: vertical;
  border-color: $white_li;
  height: 20%;
}

.form-btn,
.form-sale {
  text-align: left;
}

.form-sale input[type='text'] {
  margin-left: 45px;
}

.form-btn .btn-review {
  background: $blue_lighter;
  color: $white;
}

.form-btn button {
  padding: 10px 30px;
  font-family: San Francisco, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
  font-size: 15px;
}

.clickable {
  cursor: pointer;
}
