@import "bootstrap-sprockets";
@import "bootstrap";
@import "_color.scss";

* {
  padding: 0;
  margin: 0;
  font-family: arial,sans-serif;
  outline: 0 !important;
}

body {
  color: $black;
  font-size: 13px;
}
//FLASH

.messages-field {
  padding-top: 15px;
  visibility: visible;
  position: absolute;
  z-index: 999999;
}

.alert-error {
  background-color: $alert-red-back;
  border-color: $alert-red-bor;
  color: $alert-red-text;
  text-align: left;
}

.alert-alert {
  background-color: $alert-red-back;
  border-color: $alert-red-bor;
  color: $alert-red-text;
  text-align: left;
}

.alert-success {
  background-color: $alert-green-back;
  border-color: $alert-green-bor;
  color: $alert-green-text;
  text-align: left;
}

.alert-notice {
  background-color: $alert-green-back;
  border-color: $alert-green-bor;
  color: $alert-green-text;
  text-align: left;
}

.messages-field > .alert > ul > li {
  list-style: none;
}
// HEADER
//top-header

header .top {
  background: $blue_light;
}

header .top .container > ul > li {
  font-weight: 300;
}

header .navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 18px;
}

header .navbar-nav > li > a:active,
header .navbar-nav > li > a:focus,
header .navbar-nav > li > a:hover {
  background-color: transparent;
}

header .navbar-nav > li,
header .navbar-nav > li > a {
  color: $white;
}

.header-favorite .icon i {
  position: static;
  position: relative;
  color: $red_light;
  cursor: pointer;
}

.header-favorite .icon i span {
  background: $white;
  padding: 2px;
  border-radius: 2px;
  font-size: 13px;
  position: absolute;
  top: -7px;
  right: -9px;
}

.a-tag {
  cursor: pointer;
}

header .top .fa {
  font-size: 20px;
}

.login > li {
  display: inline-block;
}

.a-avatar {
  position: relative;
  padding-top: 6px;
}

.img-avatar {
  border-radius: 50%;
  width: 30px;
  padding: 0 !important;
  margin: 0 !important;
}

.count-notify {
  background: $white;
  color: $red_light;
  padding-right: 2px;
  padding-left: 2px;
  border-radius: 2px;
  font-size: 13px;
  position: absolute;
  top: 3px;
  right: 2px;
}

.top .naptien {
  text-align: center;
  padding-top: 3px;
}

.top .naptien a {
  color: $white;
  padding: 2px 20px;
  background-color: $orange_light;
  border-radius: 10px;
  max-width: 200px;
  display: inline-block;
}

.top .naptien a:hover {
  background-color: $orange_hov;
  color: $white;
}

.top .naptien span {
  margin-left: 7px;
  font-weight: bold;
}

.modal {
  text-align: center;
}

.wishlist-modal {
  border: none;
}

.wishlist-modal .modal-lg {
  width: 1120px;
  max-width: 100%;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-content {
  border-radius: 0;
  border: 1px solid $orange_modal;
}

.wishlist-header {
  background: $orange_light;
  color: $white;
}

.modal-header {
  padding: 12px 15px;
}

.modal-footer,
.modal-header {
  border: none;
}

.modal-header .pull-right {
  padding: 3px 6px 5px;
  margin-top: -3px;
  border-radius: 5px;
  margin-right: -4px;
}

.modal-header i.fa-close {
  color: $white !important;
}

.modal-header .pull-right i {
  font-size: 17px;
}

.wishlist-modal .modal-title {
  text-align: left;
}

.wishlist-modal .modal-lg table {
  font-size: 14px;
}

.mar-bt-0 {
  margin-bottom: 0 !important;
}

.modal-table .table thead tr th {
  border-bottom: none;
}

.modal-table table th {
  text-transform: uppercase;
  text-align: center;
}

.wishlist-modal .col-title {
  min-width: 140px;
}

.wishlist-modal .col-price {
  min-width: 100px;
}

.wishlist-modal .col-dat {
  min-width: 100px;
}

.wishlist-modal .col-address {
  min-width: 200px;
}

#wishlist-modal * {
  font-weight: normal;
}

.modal-table table tr td {
  vertical-align: middle;
  border-top: none;
}

#wishlist-modal a {
  background: none !important;
}

.wishlist-modal .col-title {
  min-width: 140px;
}

.wishlist-modal .col-price {
  min-width: 100px;
}

.wishlist-modal .col-dat {
  min-width: 100px;
}

.wishlist-modal .col-address {
  min-width: 200px;
}

i.remove-wishlist {
  color: $orange_light;
  cursor: pointer;
}

.modal-footer {
  text-align: center;
  padding-bottom: 25px;
}

.modal-footer .btn {
  min-width: 120px;
}
//menu

.menu .navbar {
  border-right: none;
  border-left: none;
  border-radius: 0;
}

.menu nav {
  padding: 15px 0;
  margin-bottom: 0;
}

.menu .navbar .container {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}

.menu .for-mobile {
  display: none;
}

.menu .search-container {
  float: none;
  padding-left: 200px;
}

.menu .search-child {
  display: inline-table;
  vertical-align: middle;
  width: 100%;
}

.menu ul.nav {
  margin: 9px 0 10px 30px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: $blue_light;
  background-color: transparent;
  border-bottom: 2px solid $blue_light;
}

.main-menu li a {
  text-transform: uppercase;
  font-size: 15px;
  padding: 10px 17px;
}

.search-child .post-btn {
  text-align: right;
  width: 1%;
}

.search-child .post-btn,
.search-child .search-menu {
  display: table-cell;
  padding-top: 0;
  vertical-align: middle;
}

.post-mobile {
  display: block;
  position: relative;
}

.pen {
  background-color: $orange_light;
  padding: 6px;
  border-radius: 8px;
}

.pen a,
.pen span {
  color: $white !important;
  border: 1px solid $white;
  font-weight: bold;
  display: block;
}

.pen span {
  background-repeat: no-repeat;
  background-position: 8px;
  padding: 3px 9px;
  border-radius: 8px;
  font-size: 18px;
  line-height: 20px;
}

.pen span .pen-icon {
  background-image: url("pen.png");
  width: 28px;
  height: 28px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
  background-size: 100%;
  margin-left: -3px;
}

.post-mobile .dropdown-menu {
  border-color: $orange_light;
  border-radius: 0;
  margin: 0;
  right: 0;
  left: inherit;
  font-size: 13px;
}

.dropdown-menu {
  cursor: pointer;
}

.post-mobile .dropdown-menu i {
  color: $orange_light;
}
//CONTENT

#content-wrap {
  margin: 0;
  min-height: 400px;
  padding-top: 25px;
}
//FOOTER

footer {
  background-color: $gray_light;
  color: $white_somke;
}

.top-ft {
  border-top: 5px solid $blue_lighter;
  border-bottom: 1px solid$white_somke;
}

.mid-ft {
  border-bottom: 1px solid$white_somke;
}

.bot-ft {
  padding: 10px 0 9px;
  color: $white_somke;
}

.top-ft p {
  background: url("hand-shake.png") left no-repeat;
  background-size: 50px 50px;
  font-family: TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif;
  color: $orange_lighter;
  padding: 18px 0 18px 61px;
  font-size: 25px;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 0;
}

.mid-ft .news-feed {
  width: 23%;
  padding-right: 35px;
}

footer .news-feed {
  text-align: center;
}

.mid-ft h3 {
  margin-bottom: 3px;
}

.mid-ft h3 span {
  font-size: 14px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: $orange_lighter;
}

footer .news-feed li {
  position: relative;
}

.mid-ft ul li {
  list-style: none;
  padding: 4px 4px 4px 0;
}

footer .news-feed .has-feedback {
  max-width: 300px;
  margin: 0 auto;
}

footer .news-feed .has-feedback form {
  text-align: left;
}

footer .news-feed .form-control {
  border-radius: 3px;
  height: 30px;
  padding-right: 30px;
}

footer .news-feed li .form-control-feedback {
  color: $white_somker;
  height: 30px;
  line-height: 30px;
  width: 30px;
}

.mid-ft .col-about {
  width: 17%;
}

.mid-ft ul li a {
  color: $white_somke;
}

.mid-ft .col-hotro {
  width: 25%;
}

.pad-l-0 {
  padding-left: 0 !important;
}

.pad-l-0 {
  padding-left: 0 !important;
}

.mid-ft .col-chinhsach {
  width: 21%;
}

.mid-ft .group-social2 {
  width: 13%;
}

footer .group-social2 {
  margin-bottom: 0;
  vertical-align: middle;
}

footer .group-social2 li {
  list-style: none;
  display: block;
  margin-right: 5px;
}

.bot-ft {
  padding: 10px 0 9px;
  color: $white_somke;
}

.bot-ft .left {
  padding-top: 10px;
  width: 40%;
}

footer .logo {
  background-image: url("logo-2.png");
  background-repeat: no-repeat;
  background-size: 131px auto;
  width: 131px;
  height: 38px;
  float: left;
  margin-right: 12px;
}

.bot-ft p {
  color: $white_somke;
  margin-top: 12px;
}

.bot-ft .right {
  float: right;
  width: 60%;
}

.pad-l-0 {
  padding-left: 0 !important;
}
//LOGIN PAGES

.auth-page {
  margin-bottom: 50px;
}

.auth-page .form-horizontal {
  max-width: 430px;
  margin: 0 auto;
}

.mar-bt-20 {
  margin-bottom: 20px !important;
}

.mar-t-0 {
  margin-top: 0 !important;
}

.form-control {
  border: 1px solid $white_form;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.auth-page a {
  color: $blue_lighter;
}

.auth-page a.btn {
  color: $btn-a;
}

.social-login .div-line {
  text-align: center;
  margin-top: -23px;
  margin-bottom: 17px;
}

.social-login .txt-line {
  background-color: $white;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  color: $text_login;
}

.btn-group i {
  margin-right: 5px;
}

.have-account {
  margin-bottom: 20px;
  padding-top: 5px;
}
//ACCOUNT PAGE

#product.container {
  margin-right: auto;
  margin-left: auto;
}

#product {
  margin: 10px 0;
  min-height: 600px;
}

.i-want {
  width: 100%;
  position: relative;
}

.opened .list-lease-box {
  display: block;
}

.sidebar .btn-warning {
  font-size: 20px;
  padding: 6px 20px;
  width: 100%;
}

.sidebar .btn-warning i {
  padding-right: 15px;
  font-size: 22px;
}

.list-lease-box {
  border: 1px solid $lease_box;
  display: none;
  border-radius: 0 0 5px 5px;
  position: absolute;
  z-index: 100;
  background: $white;
  width: 100%;
  margin-top: -1px;
}

.i-want .list-lease-box > li > a {
  border-bottom: none;
}

.list-lease-box li a {
  color: $lease_box_a;
}

.sidebar .nav > li > a > img {
  margin-right: 5px;
}

.i-want .list-type-button .down-arrow {
  position: absolute;
  right: 0;
  top: 0;
  display: none;
  padding: 11px 12px 12px;
}

.i-want .list-type-button .down-arrow .glyphicon {
  font-size: 13px;
  color: $lease_box_a;
}

.sb-user {
  margin-bottom: 1px;
  margin-top: 10px;
  text-align: center;
  background: $sb-user-col;
}

.sb-user h5 {
  padding: 10px 0;
  background: $blue_lighter;
  color: $white;
}

.img-avatar.w70 {
  width: 70px;
}

.img-avatar {
  border-radius: 50%;
  width: 30px;
  padding: 0 !important;
  margin: 0 !important;
}

.sb-user p {
  margin: 10px 0;
}

.sb-user a {
  color: $white;
  padding: 2px 20px 2px 40px;
  background: url("icon1.png") no-repeat 20px;
  background-color: $orange_light;
  border-radius: 10px;
}

.sb-user h6 {
  padding: 10px 0;
  background-color: $blue_lighter;
  color: $white;
  text-align: left;
  font-size: 15px;
  margin-bottom: 0;
}

.sb-user h6 img {
  padding: 0 20px 2px 30px;
}

.personal h6 {
  padding: 10px 0;
  background-color: $blue_lighter;
  color: $white;
  text-align: left;
  font-size: 15px;
  margin: 0;
}

.personal h6 img {
  padding: 0 18px 2px 28px;
}

.personal ul {
  background: $sb-user-col;
  padding: 10px 0;
  margin: 0;
}

.personal ul li {
  list-style: none;
  background-position: 31px center;
  background-repeat: no-repeat;
  margin-bottom: 3px;
}

.ps > li.active-acc a,
.ps > li:hover a {
  background-color: $orange_light;
  text-decoration: none;
  color: $white;
}

.ps > li.active-acc a .glyphicon,
.ps > li:hover a .glyphicon {
  color: $white;
}

.personal ul li a .glyphicon {
  position: absolute;
  left: 31px;
  top: 50%;
  margin-top: -7px;
  color: $personal_icon;
  font-size: 12px;
}

.personal ul li a {
  color: $lease_box_a;
  padding: 5px;
  display: block;
  padding: 6px 5px 5px 60px;
  position: relative;
}
// edit profile

.cate-crumb {
  margin-bottom: 12px;
}

.cate-crumb .tit-pro {
  padding-bottom: 0;
  margin-bottom: 0;
}

.tit-pro {
  padding: 10px 0 0;
  margin-bottom: 0;
}

.tit-pro li.btn-home {
  padding-left: 0;
  padding-right: 4px;
  margin-right: 4px;
}

.tit-pro li {
  list-style: none;
  display: inline-block;
  margin-right: 12px;
  vertical-align: middle;
  margin-bottom: 5px;
}

.btn-home {
  position: relative;
}

.tit-pro li.arrow {
  padding-left: 0;
  padding-right: 0;
  margin-right: 9px;
}

.tit-pro li .fa-angle-right {
  font-size: 21px;
}

.accout-page .form-group > .control-label {
  padding-left: 0;
  padding-right: 10px;
}

.accout-page .form-group > div {
  padding-right: 0;
  padding-left: 10px;
}

input[type=text] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-control {
  border: 1px solid $white_form;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.edit-img {
  position: relative;
  display: inline-block;
}

.img-avatar.square {
  border-radius: 0;
}

.edit-icon {
  position: absolute;
  background-color: $back_edit;
  text-align: center;
  display: block;
  width: 100%;
  height: 24px;
  top: 50%;
  margin-top: -12px;
  cursor: pointer;
  line-height: 24px;
  color: $white;
  display: none;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-primary {
  background-color: $back_primary;
  border-color: $bor_primary;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
// CREATE-LEASE

.btn-group-lg > .btn,
.btn-lg {
  border: none !important;
}

.social {
  padding: 6px 0;
}

.sc-w20 {
  width: 20px;
}

.cate-crumb {
  margin-bottom: 12px;
}

.cate-crumb .tit-pro {
  padding-bottom: 0;
  margin-bottom: 0;
  padding: 10px 0 0;
}

.tit-pro li.btn-home {
  padding-left: 0;
  padding-right: 4px;
  margin-right: 4px;
}

.tit-pro li {
  list-style: none;
  display: inline-block;
  margin-right: 12px;
  vertical-align: middle;
  margin-bottom: 5px;
}

.tit-pro li.arrow {
  padding-left: 0;
  padding-right: 0;
  margin-right: 9px;
}

.tit-pro li .fa-angle-right {
  font-size: 21px;
}

.lease-upload.ul7 {
  width: auto;
  margin-top: 0;
  margin-right: -1%;
  margin-left: -1%;
}

.lease-error {
  color: red;
}

.lease-upload.ul7 li {
  padding: 0;
  list-style: none;
  width: 48%;
  text-align: center;
  float: left;
  border: 1px solid $white_li;
  margin: 1%;
}

.lease-upload li {
  position: relative;
}

.ul7 li {
  height: 125px;
}

.lease-upload li .btn-file {
  padding: 10px 0 0;
  display: block;
  width: 100%;
  height: 100%;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.lease-upload li img {
  max-width: 100%;
  max-height: 60px;
}

.lease-upload li .txt-desc {
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
  margin: 0;
  padding: 7px 0;
  height: 35px;
}

.lease-upload li .remove-icon {
  display: none;
  position: absolute;
  right: 2px;
  top: 1px;
  font-size: 14px;
  color: $blue_lighter;
  padding: 3px;
  border-radius: 3px;
}

.lease-upload.ul7 p.help-block {
  color: $gray_smoke;
}

.post-lease-page .pro-info {
  padding-left: 0;
  padding-right: 0;
}

.tit-border {
  margin: 5px 0 20px;
  position: relative;
}

.tit-border span {
  text-transform: uppercase;
  font-size: 18px;
  border-bottom: 3px solid $blue_lighter;
}

.tit-border p {
  height: 3px;
  width: 55px;
  background: $orange_light;
  position: absolute;
  margin: 0;
  bottom: -3px;
}

.pro-info .form-group label.control-label {
  font-weight: bold;
}

.pro-info .form-group label {
  text-align: right;
  padding-right: 3px;
}

.pro-info .form-group label span {
  color: red;
}

.pro-info .form-group label {
  text-align: right;
  padding-right: 3px;
}

.pro-info .form-group select {
  height: 34px;
  border: 1px solid $white_li;
}

.pad-r-0 {
  padding-right: 0 !important;
}

.trade h4 {
  text-transform: uppercase;
  text-align: center;
  color: $white;
  font-size: 14px;
  margin: 0;
  padding: 10px;
  background: $blue_lighter;
  border: 1px solid$blue_lighter;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  list-style: none;
}

.trade ul {
  padding: 5px 0 5px 23px;
  border: 1px solid $white_li;
  border-top: none;
  margin: 0;
}

.trade li {
  padding: 3px 0;
  list-style-image: url("list-style.png");
}

.group-number {
  margin-bottom: 10px;
}

#price-box {
  padding-left: 15px;
}

.input-group-btn .dropdown-toggle {
  padding-left: 9px;
  padding-right: 9px;
}

.form-money,
.form-paper {
  text-align: left;
  position: relative;
}

.form-money input[type='checkbox'],
.form-paper input[type='checkbox'],
.form-sale input[type='checkbox'] {
  width: 34px;
  height: 34px;
  position: absolute;
  margin: 0;
  border-radius: 0;
  border-color: $white_li;
  background: $white;
}

.pro-info .form-group input {
  border-radius: 0;
  border-color: $white_li;
  padding-left: 9px;
  padding-right: 9px;
}

.form-money input[type='text'],
.form-money input[type='number'],
.form-paper input[type='text'],
.form-sale input[type='text'] {
  border-radius: 0;
  border: 1px solid $white_li;
  padding: 6px 12px;
  height: 34px;
  width: 63%;
}

.input-money {
  margin-right: 15px;
  width: 70px !important;
  text-align: center;
  margin-left: 50px !important;
}

.form-money,
.form-paper {
  text-align: left;
  position: relative;
}

.mar-bt-5 {
  margin-bottom: 5px !important;
}

.pro-info .form-group textarea {
  width: 100%;
  resize: vertical;
  border-color: $white_li;
  height: 20%;
}

.form-btn,
.form-sale {
  text-align: left;
}

.form-sale input[type='text'] {
  margin-left: 45px;
}

.form-btn .btn-review {
  background: $blue_lighter;
  color: $white;
}

.form-btn button {
  padding: 10px 30px;
  font-family: San Francisco, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
  font-size: 15px;
}

.clickable {
  cursor: pointer;
}

//DETALS LEASE

.left-detail {
  position: relative;
  padding: 20px 20px 20px 0;
}

.left-detail .heart {
  position: absolute;
  top: 6px;
  right: 13px;
}

.wishlist-control i {
  color: $orange_light;
}

.left-detail .img-big.sp {
  display: none;
}

.left-detail .img-big {
  float: right;
}

.left-detail .img-big {
  max-height: 360px;
  max-width: 254px;
}

.sub-item {
  position: absolute;
  top: 20%;
}

.sub-item li.active {
  border-color: $sub_orange;
}

.sub-item li {
  list-style: none;
  border: 3px solid $sub_li;
  margin-bottom: 4px;
}

#list-img-sub li img {
  width: 58px;
  height: 58px;
}

.sub-item li img {
  cursor: pointer;
}

.right-detail {
  border-left: 3px solid $blue_lighter;
}

.right-detail .triangle {
  position: absolute;
  left: -10px;
  top: 48%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7.5px 7px 7.5px 0;
  border-color: transparent $blue_lighter transparent transparent;
}

.right-detail * {
  text-align: left;
}

.right-detail .post-tit,
.right-detail .post-tit .tit-seo,
.right-detail h3 {
  text-transform: uppercase;
  color: $right_detail_blu;
  margin-top: 0;
  font-size: 21px;
  line-height: 1.38;
}

.right-detail .post-tit .tit-seo {
  display: inline;
}

.right-detail p .tit {
  font-weight: bold;
}

.right-detail .price .txt {
  color: $price_color;
  font-size: 20px;
}

.mobile a {
  font-size: 19px;
  color: $price_color;
}

.a-color {
  color: $blue_lighter;
  cursor: pointer;
}

.comment-product {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mar-bt-20 {
  margin-bottom: 20px !important;
}

.maps span {
  font-style: italic;
  font-size: 13px;
}

.maps span img {
  margin: 0 5px 0 0;
  padding: 3px 7px;
  border: 1px solid $white_li;
}

.google-maps {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
  margin-top: 13px;
}

.map-detail {
  width: 100%;
  height: 270px;
}

.comment-detail {
  padding-left: 3px;
}

.desc {
  margin-bottom: 28px;
}

.comment-detail .post-desc,
.comment-detail h4 {
  text-align: left;
  font-size: 15px;
  margin: 0 0 5px;
}

.desc .post-desc,
.desc h4 {
  text-transform: uppercase;
  font-size: 15px;
}

.desc .line-color {
  width: 50%;
  height: 3px;
  background: $right_detail_blu;
}

.desc span {
  left: inherit;
  width: 12.3%;
  height: 3px;
  background: $orange_light;
  position: absolute;
}

.cfi-readmore[data-readmore] {
  transition: height 100ms;
  overflow: hidden;
  display: block;
  width: 100%;
}

.desc .desc-content {
  padding: 7px 0;
}

#post-comment {
  margin-top: 10px;
}

.comment-detail .count-com {
  font-style: italic;
}

.mar-t-15 {
  margin-top: 15px !important;
}

.div-tag .lbl-tag {
  background-color: #7d7e80;
  border-radius: 0;
  font-size: 90%;
  margin-right: 2px;
  font-weight: normal;
  padding: 0.3em 6px;
  margin-bottom: 4px;
  display: inline-block;
  line-height: 1.4;
}

.zoomLens {
  border: none !important;
  width: 110px !important;
  height: 110px !important;
}

.zoomWindow {
  border: 1px solid $border_zoom_color !important;
  width: 340px !important;
  height: 300px !important;
  margin-left: 23px !important;
}

//MY LEASES

.list-lease table thead {
  background: $back_primary;
}

.list-lease table thead th {
  color: $white;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  border-right: 1px solid $white;
  border-top: 5px solid $back_primary !important;
  border-bottom: 5px solid $back_primary;
  padding: 8px 3px;
}

.list-lease table thead th:last-child {
  border-right: 1px solid$back_primary;
}

.list-lease table tr td {
  vertical-align: middle;
  border: 1px solid $white_li;
  font-size: 14px;
  text-align: center;
}

.list-lease table tr td.img-col {
  position: relative;
}

.list-lease .td-check {
  position: relative;
}

.list-lease td .btn-link,
.list-lease td a {
  color: $lease_box_a;
}

.list-lease .td-check i {
  position: absolute;
  bottom: 5px;
  font-size: 20px;
  right: 5px;
  color: $blue_lighter;
  cursor: pointer;
  top: inherit;
}

.list-lease table tr td.col-left {
  text-align: left;
}

.pad-lr-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.pad-bt-1 {
  padding-top: 1px !important;
  padding-bottom: 1px !important;
}

.action-col .btn i,
.list-lease .ul3 li a i,
.list-lease .ul3 li button i {
  padding-right: 5px;
  color: $orange_light;
  font-size: 16px;
}

.cfi-remove-post i {
  color: red !important;
}

.edit-post i {
  color: green !important;
}

a:active,
a:focus,
a:hover {
  text-decoration: none;
}

.action-col .btn:focus,
.action-col .btn:hover {
  text-decoration: none;
  opacity: 0.78;
}

.fa-check {
  color: green !important;
}

//NEWS NEED RENTS

.post hgroup h4 {
  padding: 15px 10px;
  border: 1px dashed $white_li;
  margin-bottom: 30px;
  width: auto;
  margin: 0 auto;
  text-align: left;
  color: $blue_lighter;
  display: inline-block;
  line-height: 1.2;
  margin-left: 100px;
}

.post hgroup span {
  color: $orange_light;
}

.post-hire .form-horizontal {
  max-width: 700px;
}

.post .form-group {
  width: 100%;
  float: left;
  margin-top: 20px;
}

.post.post-hire .form-group {
  float: none;
}

.require {
  color: red;
  font-weight: bold;
  margin-left: 5px;
}

.post .form-group select {
  border-radius: 0;
  border-color: $white_li;
}

.lease-upload.ul7 {
  width: auto;
  margin-top: 0;
  margin-right: -1%;
  margin-left: -1%;
}

.post .form-group button {
  padding: 6px 30px;
}

.post-hire .lease-upload li.uploaded img {
  position: static;
  margin-left: 0;
  margin-top: 0;
}

.lease-upload li.uploaded img {
  max-height: none;
  max-height: 100%;
}

.lease-upload li img {
  max-width: 100%;
  max-height: 60px;
}

//SHOW RENT

.right-detail .div-online {
  position: relative;
}

.right-detail .div-online .dropdown {
  position: static;
}

.right-detail .div-online > * {
  display: inline-block;
  vertical-align: middle;
  margin-right: 7px;
}

.right-detail .phone-detail {
  margin-left: 0;
  float: left;
}

.right-detail .phone-info {
  border-radius: 0;
  margin-top: 0;
  padding: 15px 15px 10px;
}

.phone-info i.fa-close {
  color: $orange_hov !important;
  cursor: pointer;
  position: absolute;
  right: 3px;
  top: -1px;
}

.right-detail .phone-info p {
  white-space: normal;
}

.right-detail .phone-info {
  display: none;
}

.right-detail .phone-info h5 {
  text-align: right;
}

.right-detail .phone-info button {
  margin: 5px 0 0;
  padding: 6px 20px;
}

.desc .line-blue {
  width: 50%;
  height: 3px;
  background: $right_detail_blu;
}

//HOME PAGE

.title hgroup {
  text-align: center;
}

.title h2 {
  font-weight: bold;
}

.title .sp1 {
  color: $blue_light;
  letter-spacing: 1.3px;
}

.title span {
  color: $orange_light;
}

.title h2 * {
  font-size: 28px;
}

.title h3 {
  font-weight: bold;
  margin: 0;
}

.title h3,
.title h3 * {
  font-size: 28px;
}

.title h4 {
  color: $orange_light;
  font-size: 24px;
  font-weight: bold;
}

#search {
  border-top: 1px solid$sub_li;
  -webkit-box-shadow: 0 -1px 5px 0 $shadow_search;
  -moz-box-shadow: 0 -1px 5px 0 $shadow_search;
  box-shadow: 0 -1px 5px 0 $shadow_search;
  padding-top: 30px;
}

.search {
  width: 70%;
  margin: 0 auto;
  position: relative;
}

.search button,
.search input[type='text'] {
  height: 58px;
  border-radius: 10px;
  border: 1px solid$back_primary;
}

.search .form-control {
  border: 1px solid $search_form;
}

.btn-s-submit {
  padding: 0;
  color: $white;
  background: $submit_search;
  border: none;
  border-radius: 0 10px 10px 0 !important;
}

.search button:hover {
  border: 1px solid $back_primary;
  opacity: 0.9;
  color: $white;
  background: $back_primary !important;
}

.btn-s-submit button:hover {
  background: none !important;
}

.btn-s-submit .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-left: 10px;
  padding-right: 10px;
}

#content {
  margin: 0;
  min-height: 400px;
  padding-top: 25px;
}

.mar-t-0 {
  margin-top: 0 !important;
}

.h2-orange {
  color: $orange_light;
}

.social {
  background: $corelative_color;
  padding-top: 30px;
  padding-bottom: 25px;
}

.social ul li:nth-child(1) {
  background: $child_1;
}

.social ul li:nth-child(1) a img {
  padding-top: 10px;
}

.social ul li {
  list-style: none;
  display: inline-block;
  float: left;
  font-size: 0;
  border: 1px solid$white;
  width: 20%;
  height: 170px;
}

.social ul li a {
  font-size: 15px !important;
  color: $white !important;
  text-transform: uppercase;
}

.social ul li a {
  display: block;
  width: 100%;
  height: 100%;
}

.social ul li:nth-child(2) {
  background: $child_2;
}

.social ul li:nth-child(2) a img {
  padding-top: 15px;
}

.social ul li:nth-child(3) {
  background: $child_3;
}

.social ul li:nth-child(3) a img {
  padding-top: 22px;
  margin-bottom: 20px;
}

.social img {
  max-width: 100%;
}

.social ul li:nth-child(4) {
  background: $price_color;
}

.social ul li:nth-child(4) a img {
  padding-top: 29px;
}

.social ul li:nth-child(5) {
  background: $child_5;
}

.social ul li:nth-child(5) a img {
  padding-top: 8px;
}

.social ul li:nth-child(6) {
  background: $child_5;
}

.social ul li:nth-child(6) a img {
  padding-top: 10px;
}

.social ul li:nth-child(7) {
  background: $child_1;
}

.social ul li:nth-child(7) a img {
  padding-top: 11px;
}

.social ul li:nth-child(8) {
  background: $child_2;
}

.social ul li:nth-child(8) a img {
  padding-top: 15px;
}

.social ul li:nth-child(9) {
  background: $child_3;
}

.social ul li:nth-child(9) a img {
  padding-top: 10px;
  margin-bottom: 12px;
}

.social ul li:nth-child(10) {
  background: $price_color;
}

.social ul li:nth-child(10) a img {
  padding-top: 21px;
}

.social ul li:hover {
  -webkit-animation: zoomout 0.5s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation: zoomout 0.5s;
  -moz-animation-fill-mode: forwards;
  animation: zoomout 0.5s;
  animation-fill-mode: forwards;
}

@-webkit-keyframes zoomout {
  from {
    transform: scale(1.0);
  }

  to {
    transform: scale(1.05);
  }
}

@keyframes zoomout {
  from {
    transform: scale(1.0);
  }

  to {
    transform: scale(1.05);
  }
}

.pad-bt-10 {
  padding-bottom: 10px !important;
}

.correlative {
  background: $corelative_color;
  padding-top: 32px;
}

.content-title {
    margin: 0 0 30px 0;
}

.content-title > span {
  color: $right_detail_blu;
  border-bottom: 3px solid$right_detail_blu;
  padding: 0 3px;
  font-weight: bold;
}

.content-title > span > a {
  color: $right_detail_blu;
  font-size: 21px;
}

.foot-favorite.owl-carousel {
  margin-right: -20px;
  width: auto;
}

.item-media .media {
  border: 1px solid $white_li;
  border-radius: 10px;
  background: $white;
  padding: 10px;
  text-align: left;
  min-height: 122px;
}

.foot-favorite.owl-carousel .owl-item {
  padding-right: 15px;
}

.foot-favorite .pull-left img {
  width: 100%;
  max-width: 100px;
  height: auto;
}

.foot-favorite .media-body .address,
.foot-favorite .media-body .title {
  max-height: 36px;
  overflow-y: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  -moz-line-clamp: 2;
  -moz-box-orient: vertical;
  -moz-line-clamp: 2;
  -moz-box-orient: vertical;
  word-break: break-all;
}

.foot-favorite .media-body p {
  margin-bottom: 6px;
}

.item-media .media p {
  font-size: 13px;
}

.over-dot {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  -moz-line-clamp: 1;
  -moz-box-orient: vertical;
  -moz-line-clamp: 1;
  -moz-box-orient: vertical;
  text-overflow: ellipsis;
  max-height: 18px;
  height: 18px;
  overflow: hidden;
  position: relative;
}

.item-media .media span {
  color: $price_color;
}

.fa-map-marker {
  color: $back_primary;
  font-size: 14px;
}

a {
  color: $black;
}

a:active,
a:focus,
a:hover {
  text-decoration: none;
  color: $right_detail_blu;
}

.news {
  background: $white;
  border: 1px solid$white_li;
  margin-bottom: 22px;
}

.news .row:first-child {
  position: relative;
  padding-top: 10px;
}

.news ul {
  margin-bottom: 0;
}

.news ul li {
  list-style: none;
  text-align: left;
  padding: 4px 4px 4px 20px;
  background: url("list-style.png") no-repeat 0 9px;
}

.ul-hire li {
  width: 50%;
  float: left;
}

.ul-hire li:nth-child(2n+1) {
  padding-right: 45px;
}

.news .line-col {
  display: block;
  width: 2px;
  height: 79%;
  background-color: $white_li;
  position: absolute;
  left: 48%;
  top: 16px;
}

.pad-r-10 {
  padding-right: 10px !important;
}

.mar-bt-5 {
  margin-bottom: 5px !important;
}

.news a.pull-right {
  color: $right_detail_blu;
}

.foot-favorite {
  margin-bottom: 5px;
}

.owl-stage {
  transform: translate3d(-3480px, 0px, 0px);
  transition: all 1s ease 0s;
  width: 8120px;
}

.cloned {
  width: 290px;
  margin-right: 0;
}

.mar-bt-10 {
  margin-bottom: 20px !important;
}

.pad-r-6 {
  color: $right_detail_blu;
  padding-right: 6px;
}

.pad-r-6>.pull-right {
  color: $right_detail_blu;
}

.media-body>.title>a {
  text-transform: uppercase;
}

.media>.pull-left {
  height: 98px;
}

.media-body, .media-left, .media-right {
  display: table-cell;
  vertical-align: top;
}

//show product in category

.sb-h5 {
  background: url("news.png") no-repeat 8px;
  background-color: $sh-b5;
  margin: 0;
  padding-bottom: 2px;
}

.sb-h5 p {
  margin-bottom: 0;
  margin-left: 30px;
  background: $white;
  padding: 5px;
}

.bot-sb {
  border: 1px solid$white_li;
  padding: 15px 10px;
  margin-bottom: 10px;
}

.bot-sb a {
  color: $orange_light;
}

.bot-sb img {
  width: 100%;
  margin-bottom: 10px;
  max-height: 180px;
  height: auto;
}

.bot-sb ul {
  margin: 10px 0 0 13px;
}

.bot-sb li {
  padding-top: 5px;
  list-style-image: url("list-s.png");
}

.bot-sb li a {
  color: $lease_box_a;
  padding: 5px 10px 5px 0;
}

.bot-sb li:hover {
  background: $sub_li;
}

.product .tabpanel {
  position: relative;
}

.product .tabpanel {
  padding-bottom: 15px;
}

.tabpanel .nav-tabs > li a {
  border: none;
  border-bottom: 2px solid transparent;
}

.tabpanel .nav-tabs > li.active a,
.tabpanel .nav-tabs > li.active a:focus,
.tabpanel .nav-tabs > li.active a:hover {
  border: none;
  border-bottom: 2px solid $blue_lighter;
}

.tabpanel .nav-tabs a {
  color: $lease_box_a;
  text-transform: uppercase;
  margin-right: 0;
}

.nav-tabs .active a {
  color: $blue_lighter !important;
}

.nav-tabs > li > a {
  border-radius: 0;
}

.tab-content {
  margin-top: 10px;
}

.tab-content .row {
  margin-left: 0;
  margin-right: 0;
  margin-left: 4px;
  margin-right: -10px;
}

.product-row {
  display: inline-block;
  vertical-align: top;
  border: 1px solid transparent;
  margin-left: -4px;
  float: none;
  padding-left: 0;
}

.thumbnail {
  position: relative;
}

.item {
  border-radius: 0;
  border: none;
  padding: 11px 0 0;
  text-align: center;
  border: 1px solid$white;
  margin-bottom: 0;
}

.thumbnail .fa-heart,
.thumbnail .fa-heart-o {
  position: absolute;
  top: 0;
  right: -11px;
  color: $orange_hov;
  font-size: 23px;
}

.product-row .div-img {
  text-align: left;
}

.product-row .div-img img {
  width: 100%;
  width: 180px;
  height: 180px;
}

.thumbnail a > img {
  margin-left: 0;
  margin-right: 0;
}

.item .caption {
  padding: 9px 0;
}

.view {
  text-align: left !important;
}

.view i {
  color: $back_primary;
  font-size: 16px;
}

.item-name.over-dot {
  height: 35px;
  -webkit-line-clamp: 2;
  -moz-line-clamp: 2;
  -moz-line-clamp: 2;
}

.over-dot {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  -moz-line-clamp: 1;
  -moz-box-orient: vertical;
  -moz-line-clamp: 1;
  -moz-box-orient: vertical;
  text-overflow: ellipsis;
  max-height: 18px;
  height: 18px;
  overflow: hidden;
  position: relative;
}

.item-name {
  text-align: left;
  height: 35px;
  margin-bottom: 2px;
  text-transform: initial;
  font-size: 14px;
  line-height: 1.22;
}

.item .caption a {
  color: $lease_box_a !important;
}

.item .caption p {
  text-align: left;
}

.item-price {
  margin-bottom: 3px;
}

.item-price .val-price {
  color: $price_color;
  font-size: 14px;
}

.div-dat {
  margin-bottom: 2px;
}

.item-address i {
  color: $price_color;
}

.star {
  float: left;
}

.rate>span {
  line-height: 18px !important;
  float: left;
  padding-left: 2px;
}

.h-70 {
  height: 70px;
}
